
@{
    ViewBag.Title = "AddStudent";
}
@model StudentMS.Models.Student
<h2>Add Student</h2>
<form action="/Student/AddStudent" method="post">
    <input type="text" class="form-control" name="Name" placeholder="Name" />
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <input type="date" class="form-control" name="Dob" placeholder="Date Of Birth" />
    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
    <input type="number" class="form-control" name="Credit" placeholder="Credit" />
    @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
    <input type="number" step="0.01" class="form-control" name="CGPA" placeholder="CGPA" />
    @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
    <input type="number" class="form-control" name="Dept_Id" placeholder="Department" />
    @Html.ValidationMessageFor(model => model.Dept_id, "", new { @class = "text-danger" })
    <input type="submit" class="btn btn-success" />
</form>
