
@{
    ViewBag.Title = "Students";
}
@model List<StudentMS.Models.Student>
<h2>Students List</h2>
<div class="container">
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Credit</th>
            <th>CGPA</th>
            <th>Department</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Dob</td>
                <td>@student.Credit</td>
                <td>@student.CGPA</td>
                <td>@student.Dept_id </td>
                <td><a href="/Student/EditStudent/@student.Id/" class="btn btn-default">Edit</a></td>
                <td><a href="/Student/Delete/@student.Id/" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
</div>
